.WeatherMain {
  font-family: Helvetica;
  padding: 16px;
  border-radius: 13px;
  color: #fff;
}

.WeatherMain form {
  margin-bottom: 50px;
}

.WeatherMain input {
  width: 389px;
  border-width: 1.3px;
  border-radius: 5px;
  padding: 3px 7px;
  background-color: rgba(82, 82, 92, 0.6);
  border: 0.5px solid rgb(126, 126, 148);
}

.WeatherMain ::placeholder {
  color: rgb(126, 126, 148);
  font-weight: lighter;
}

.WeatherMain input:focus {
  color: #fff;
}

.WeatherMain button {
  border: none;
  background: transparent;
}

.WeatherMain .fa-magnifying-glass {
  color: rgb(172, 172, 201);
}

.WeatherMain h1 {
  font-size: 30px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 29px;
}

.WeatherMain h2 {
  font-size: 15px;
  font-weight: 100;
  color: rgb(142, 142, 147);
}

.WeatherMain h3 {
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  color: rgb(159, 159, 190);
}

.WeatherMain ul {
  margin: 0;
  padding: 0;
}

.WeatherMain li {
  font-size: 16px;
  font-weight: 100px;
  line-height: 23px;
  list-style: none;
  text-align: right;
}

.WeatherMain img {
  height: 64px;
  width: 64px;
  margin: 0 5px 23px 0;
}

.WeatherMain .temperature {
  font-size: 64px;
  font-weight: lighter;
  line-height: 64px;
}

.WeatherMain .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 5px;
}
